<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.name }}'watchlist</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    {% endblock %}
</head>
<body>  
    <h2>
        <img src="{{ url_for('static',filename='images/tt2.jpg') }}" alt="头像" class="avatar">
        {{ user.name }}
    </h2>
    <!-- flash消息 -->
    {% for i in get_flashed_messages() %}
        <div class='alert'>
            {{ i }}
        </div>
    {% endfor %}
    <nav>
        <ul>
            <li>
                <a href="{{ url_for('index') }}">首页</a>
            </li>
            {% if not current_user.is_authenticated %}
            <li>
                <a href="{{ url_for('login') }}">登陆</a>
            </li>
            {% else %}
            <li>
                <a href="">{{current_user.name}}</a>
            </li>  
            {% endif %}
            {% if current_user.is_authenticated %}
            <li>
                <a href="{{ url_for('logout') }}">注销</a>
            </li>
            <li>
                <a href="{{ url_for('setting') }}">设置</a>
            </li>
            {% endif %}
        </ul>   
    </nav>
    {% block content %}

    {% endblock %}
    <footer>
        <small>
            &copy;2020 &nbsp;&nbsp;&nbsp;<a href="#">1903c</a>
        </small>
    </footer>

</body>
</html>